.account-wrapper {
  width: 100%;
  height: 100vh;
  background-color: #202225;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.return {
  position: absolute;
  margin-top: 10px;
  margin-left: 5px;
  top: 0%;
  left: 0%;
  color: #fff;
  text-decoration: inherit;
  font-family: "Russo One", sans-serif;
}

.account-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

.account-section .current-user-info {
  display: flex;
  align-items: center;
}

.current-user-metadata {
  width: 19%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.current-user-metadata h1 {
  font-size: 18px;
  font-weight: 400;
}

.user-logout {
  width: 19%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-logout button {
  width: 100%;
  border-radius: 50px;
  font-family: "Montserrat", sans-serif;
}

.footer {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: flex-end;
  font-family: "Montserrat", sans-serif;
  justify-content: space-evenly;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer h3 {
  font-weight: 400px;
  font-size: 16px;
}
